* {
	font-family: Helvetica-Neue, Helvetica, sans-serif;
}

.menu {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.menu-toggle {
	float: right;
}

.close-menu {
	cursor: pointer;
	font-size: 18px;
}

.menu-open header .menu-side {
	left: 70%;
}

.menu-side, .menu {
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

.menu-side {
	background-color: #333;
	border-right: 1px solid #000;

	position: fixed;
	top: 0;
	left: 100%;
	width: 30%;
	height: 100%;
	padding: 10px;
	overflow: scroll;
}

.menu-toggle {
	padding: 10px 16px;
	background: none;
	border: 2px solid steelblue;
	color: steelblue;
}

.menu-toggle:hover {
	background: steelblue;
	color: #fff;
	cursor: pointer;
}

#comments {
	width: 100%;
	font-size: 0.9em;
	color: #fff;
}

#comment_title {
	position: relative;
	text-align: center;
	width: 100%;
}

#title_divider {
	border-top: 3px solid #888;
}

.comment_divider {
	border-top: 1px solid #515151;
	width: 92%;
}

/* Chart */

#chart {
	margin-top: 20px;
}

#chart svg rect:hover {
	cursor: pointer;
}

.yAxis path,
.yAxis line {
	fill: none;
	stroke-width: 0px;
    stroke: gray;
    shape-rendering: crispEdges;
}

.xAxis path,
.xAxis line {
	fill: none;
	stroke-width: 2px;
    stroke: gray;
    shape-rendering: crispEdges;
}

.xAxis text {
	color: #333333;
	font-family: sans-serif;
	font-size: 15px;
}

.yAxis text {
	color: #333333;
	font-family: sans-serif;
	font-size: 15px;
}

.grid .tick {
    stroke: white;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

div.tooltip {   
	position: absolute;                     
	width: auto;                  
	height: auto;                 
	padding: 10px 20px;             
	font: 1.2em sans-serif;        
	background: white;
	border: 2px solid #333;   
	color: #333;                
	pointer-events: none;      
}

.comments {
	margin-top: 10px;
	font-size: 0.8em;
	color: gray;
}

/* Comment Form */

#user_name {
	width: 100%;
	color: #333333;
	margin-bottom: 5px;
	padding: 10px;
	border: none;
	font-size: 1.1em;
}

#user_message {
	min-width: 100%;
	max-width: 100%;
	color: #333333;
	padding: 10px;
	border: none;
	font-size: 1.1em;
}

#submit {
	background: white;
	color: #333;
	padding: 10px 30px;
	border: none;
	float: right;
	font-size: 1.1em;
	font-weight: bold;
}








