html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400, 600, 700, 800;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
  
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #253344;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
  color: blue; }

.big, h4 {
  font-size: 18px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2;
  color: green; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #253344;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #374c65; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }
  body .disclaimer {
    max-width: 800px;
    margin: 0px auto;
    margin-top: 48px;
    margin-bottom: 16px;
    color: #595959;
    font-size: 14px;
    font-weight: 300; }
  body .work-block {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    margin-bottom: 32px; }
    body .work-block .work-image {
      display: inline-block;
      width: 400px;
      height: 200px;
      float: left; }
      body .work-block .work-image#lp-case {
        background: #fafafa; }
      body .work-block .work-image#nav-case {
        background: #fafafa;
        text-align: center; }
      body .work-block .work-image .coming-soon {
        line-height: 200px;
        color: #8C8C8C;
        font-style: italic; }
      body .work-block .work-image svg {
        width: 50%;
        margin: 0 auto;
        display: block;
        height: 200px; }
    body .work-block .work-desc {
      background-color: #FFF;
      display: inline-block;
      height: 200px;
      width: 400px; }
      body .work-block .work-desc .work-title {
        padding: 24px 24px 16px 24px;
        display: block;
        color: #253344;
        font-size: 18px;
        font-weight: 700; }
      body .work-block .work-desc .work-copy {
        display: block;
        font-size: 14px;
        color: #262626;
        padding: 0 24px; }
      body .work-block .work-desc .read-more {
        display: block;
        padding-left: 24px;
        padding-top: 16px;
        color: #2C68B8;
        font-size: 16px; }
        body .work-block .work-desc .read-more:hover {
          text-decoration: underline; }
      body .work-block .work-desc .undone {
        display: block;
        padding-left: 24px;
        padding-top: 16px;
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        color: #8C8C8C; }
  @media screen and (max-width: 800px) {
    body .disclaimer {
      max-width: 320px;
      margin-top: 0px; }
    body .work-block {
      max-width: 320px; }
      body .work-block .work-image {
        max-width: 320px; }
      body .work-block .work-desc {
        max-width: 320px; } }

header {
  padding-top: 120px; }
  header .logo {
    margin: 0 auto;
    height: 80px;
    width: 40px; }
  header nav {
    text-align: center;
    margin: 24px; }
    header nav a {
      display: inline-block;
      margin: 0 40px;
      color: #253344;
      font-size: 16px;
      font-weight: 400; }
    header nav .active {
      border-bottom: 2px solid #8C8C8C;
      padding-bottom: 4px;
      font-weight: 600; }
    header nav a:active {
      color: #253344;
      font-weight: 600; }
    @media screen and (max-width: 720px) {
      header nav a {
        display: block;
        margin: 16px 0px; }
      header nav .active {
        margin: 0 auto;
        max-width: 104px; } }

footer {
  border-top: 2px solid #ECECEC;
  max-width: 800px;
  padding-top: 16px;
  padding-bottom: 40px;
  margin: 0 auto;
  margin-top: 120px;
  color: #8C8C8C;
  font-size: 14px; }

@media screen and (max-width: 800px) {
  footer {
    max-width: 320px; } }
.about .wrapper {
  padding-top: 40px;
  max-width: 800px;
  margin: 0 auto; }
  .about .wrapper img {
    max-width: 800px;
    margin: 0 auto;
    display: block; }
  .about .wrapper .about-links {
    text-decoration: underline; }
@media screen and (max-width: 800px) {
  .about .wrapper {
    max-width: 320px; }
    .about .wrapper img {
      max-width: 320px; } }

.blog .wrapper {
  padding-top: 24px;
  width: 800px;
  margin: 0 auto; }
  .blog .wrapper ul {
    padding-left: 0px; }
    .blog .wrapper ul li {
      list-style-type: none;
      margin-bottom: 56px; }
      .blog .wrapper ul li a {
        font-size: 18px;
        font-weight: 600; }
      .blog .wrapper ul li .post-date {
        margin-bottom: 12px;
        color: #8C8C8C;
        font-size: 14px; }
      .blog .wrapper ul li p {
        margin-bottom: 0; }
      .blog .wrapper ul li span a {
        color: #2C68B8;
        font-size: 14px; }
@media screen and (max-width: 800px) {
  .blog .wrapper {
    max-width: 320px; } }

.post .wrapper {
  padding-top: 40px;
  width: 800px;
  margin: 0 auto; }
  .post .wrapper .post-title {
    color: #262626;
    font-size: 32px;
    font-weight: 700; }
  .post .wrapper .post-meta {
    margin-bottom: 24px;
    font-size: 0.9em; }
    .post .wrapper .post-meta .post-date {
      color: #8C8C8C; }
@media screen and (max-width: 640px) {
  .post .wrapper {
    max-width: 320px; } }

.process .wrapper {
  padding-top: 40px;
  max-width: 800px;
  margin: 0 auto; }
  .process .wrapper img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 24px 0;
    max-width: 800px;
    border: 1px solid #D9D9D9; }
  .process .wrapper h4 {
    margin: 16px 0px; }
  .process .wrapper .process-link {
    text-decoration: underline; }
@media screen and (max-width: 800px) {
  .process .wrapper {
    max-width: 320px; }
    .process .wrapper img {
      max-width: 320px; } }
